header{
	margin-bottom: 50px;
	background-color: #343a40;
}

.sas{
    text-align: right
}

.col p{
	text-align: justify;
}

.col img{
	width: 75%;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px
}
table th{
	text-align: center!important;

}

table{
	display: inline-block;
}

table+img{
	display: inline-block;
	max-width: 50%;
	margin-bottom: 0!important;
}
.ti{
	margin: 0 auto
}

.qq img{
	width: 35%;
	float: left;
	margin-right: 19px;
	margin-bottom: 19px
}
.ss{
	width: 10%;
}