body{
	position: relative;
}

header{
	margin-bottom: 50px;
	background-color:#343a40;
	
}
nav{
	align-items: center;
}

.sas{
    text-align: right
}

.col p{
	text-align: justify;
}

.col img{
	width: 75%;
	float: left;
}
table th{
	text-align: center!important;

}

table{
	display: inline-block;
}

table+img{
	display: inline-block;
	max-width: 50%;
	margin-bottom: 0!important;
}
.ti{
	margin: 0 auto
}

.qq img{
	width: 35%;
	float: left;
	margin-right: 19px;
	margin-bottom: 19px
}
.ss{

	display: inline-block;
	text-align: right;
	float: right;
	font-size: 45px;
}
.navbar-brand{
	max-width: 120px;
	float: left; 	
}

.jumbotron{
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -240px;
	z-index: 3;
}

#overlay{
	position: absolute;
	min-width: 150vw;
	min-height: 150vh;
	z-index: 2;
	background: rgba(0, 0, 0, 0.99)	
}

.fa-steam:before, .fa-instagram:before{
	color: white
}

img{
	margin-right: 5px
}